.home{
    display:flex;
    flex-direction:column;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:10rem;
    background-color: red;
  
}
.home>button{
    width:5rem;
    length:10rem;
    margin:1rem;
    padding:1rem;


}
.show-btn{
  
}