.home{
    display:flex;
    flex-direction:column;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:10rem;
    /* background-color: red;
   */
}
.home>button{
    width:5rem;
    length:10rem;
    margin:1rem;
    padding:1rem;
    background-color: #272643;
    border-radius: 10px;
    width:10rem;
    border-color: 272643;

}
.home>button:hover{
    background-color: #534064;
    color:#fff;
}
.link{
    color:#e0f0ea;
    text-decoration: none;
    font-weight: bold;
}
.link:hover{
    color: #fff;
}
.profile{
    background-color:#272643;
    color:#fff;
    border-radius: 10px;
    width: 20%;
    margin:1rem;
    padding:1rem;
}

.name-text-box {
    width: 250px;
    height: 30px;
  }
  
.age-text-box {
    width: 150px;
    height: 30px;
  }
  
.gender-text-box {
    width: 150px;
    height: 30px;
  }

.profile input[type="text"] {
    width: 50px;
    height: 20px;
    margin-left: 10px;
  }
  
label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
  }

input {
    width: 150px;
  }
  


  
  
  
  
