.navbar{
    background-color:#272643;
    width:100%;
    length:5rem;
    padding:1rem;
    
}
.heading{
color:#e0f0ea;
}
.nav-options{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-options>Link:hover{
    color:#646399 ;
}