.navbar{
    background-color:green;
    width:100%;
    length:5rem;
    padding:1rem;
    
}
.heading{
color:#e0f0ea;
position:absolute;
right:1000px;
}

.logo {
    width: 50px;
    height: 60px;
    top: 10px;
    left: 10px;
    
}





