
.choose-date-text {
    display:inline-block;
    text-align:center;
    margin: 0 auto;
    vertical-align: middle;
}

.calender {
    margin: 0 auto;
    vertical-align: middle;
}


.edit-cancel-btns button {
    margin-right: 10px; 
  }

.input-fields div {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.input-fields {
    display: grid;
    justify-items: center; 
    align-items: center;
    
    background-color: #272643;
    border: 3px solid rgb(214, 203, 203);
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
      
       
  }
.input-fields label {
    font-size: 20px;
    color: white;
  }

.input-fields input:hover {
    background-color: #e9e9e9;
  }

.save-button {
    position: absolute;
    left: 49.5%; /* moves the element to the horizontal center */
    transform: translateX(-50%); /* moves the element to the vertical center */
    margin-top: 15px;
}

.footer {
    background-color: #272643;
    color: white;
    text-align: center;
    padding: 2px;
    margin-top: 180px;
}



  



  
  
  
  

  











  