.show{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top:2rem;


}
.calender{
    margin-left:10rem;
    padding:1rem;
    margin:1rem;
    margin-bottom: 0;
    border:none;
    

}
.react-datepicker{
    margin-top:0;
    margin:1rem;
    left:45rem;
    justify-content: center;
    align-items: center;

}
.show-data{
    display: flex;
    flex-direction: column;
    background-color: #3c2a4d;
    color:#fff;
    width:40rem;
    border-radius: 10px;
    padding:1rem;
    align-items: center;
    justify-content: center;
    margin-left:35rem;
}
/* p{
    background-color: #fff;
    color:#3c2a4d;
    border-radius: 10px;
    padding: 1rem;
    width: 50%;
    align-items: center;
    justify-content: center;
} */
.edit{
    background-color: #fff;
    color:#3c2a4d;
    padding:1rem;
    border-radius: 10px;
  
}
.get-data{
    width:8rem;
    align-items:center;
    margin:1rem;
    padding:.5rem;
    border-radius:10px;
    color:#fff;
    background-color: #3c2a4d;
    width: 15rem;
    border: none;

}
.get-data:hover{
    color: #3c2a4d;
    background-color:#fff;
    border-color:#3c2a4d;
    border-style: solid;
}
.single-list-head{
    background-color: #27264321;
    
   
}
.single-list-head>a{
   
    text-decoration: none;
    background-color: #95adbe5b;

}

.input-output-show{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    background-color:#e3e3e7;
    width:88%;
    border-radius: 10px;
    padding:1rem;

}
.output-show{
  
    background-color:#95adbe;
    padding:1rem;
    border-radius: 10px;
    width: 40rem;
    height:25rem;
}

.food-inputs-show{
   
    margin:3rem;
    left:0;
   
    padding:1rem;
    justify-content:top;
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 18rem;
    align-items: center;
    border-radius: 10px;
    background-color:#95adbe5b;
    
}
.food-inputs-show>input{
    background-color: #fff;
    
    padding:1rem;
    border-radius: 5px;
    height:2.3rem;
    width: 15rem;
  
}
.input-n-output-show{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
   
    /* background-color: rgb(136, 124, 124); */
    width:90%;
    padding:1rem;

    
}
.toggle-food{
    background-color:#3c2a4d;
    color:#fff;
    border-radius: 1px;
    padding:.3rem 1rem .3rem 1rem;
}