.show{
    display: flex;
    flex-direction:column;
    align-items: center;


}
.calender{
    margin-left:10rem;
    padding:1rem;
    margin:1rem;
    margin-bottom: 0;
    

}
.react-datepicker{
    margin-top:0;
    margin:1rem;
    left:45rem;
    justify-content: center;
    align-items: center;

}
.show-data{
    display: flex;
    flex-direction: column;
    background-color: #3c2a4d;
    color:#fff;
    width:40rem;
    border-radius: 10px;
    padding:1rem;
    align-items: center;
    justify-content: center;
    margin-left:35rem;
}
p{
    background-color: #fff;
    color:#3c2a4d;
    border-radius: 10px;
    padding: 1rem;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.edit{
    background-color: #fff;
    color:#3c2a4d;
    padding:1rem;
    border-radius: 10px;
  
}
.get-data{
    width:8rem;
    align-items:center;
    margin:1rem;
    padding:1rem;
    border-radius:1rem;
    color:#fff;
    background-color: #3c2a4d;

}
.single-list-head{
    background-color:#95adbe;
}