.show{
    display: flex;
    flex-direction:column;
    align-items: center;


}
.calender{
    margin-left:10rem;
    padding:1rem;
    margin:1rem;
    margin-bottom: 0;
    

}
.react-datepicker{
    margin-top:0;
    margin:1rem;
    left:45rem;
    justify-content: center;
    align-items: center;

}
.show-data{
    display: flex;
    flex-direction: column;
    background-color: #3c2a4d;
    color:#fff;
    width:40rem;
    border-radius: 10px;
    padding:1rem;
    align-items: center;
    justify-content: center;
    margin-left:35rem;
}
p{
    background-color: #fff;
    color:#3c2a4d;
    border-radius: 10px;
    padding: 1rem;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.edit{
    background-color: #fff;
    color:#3c2a4d;
    padding:1rem;
    border-radius: 10px;
  
}
.get-data{
    width:8rem;
    align-items:center;
    margin:1rem;
    padding:1rem;
    border-radius:1rem;
    color:#fff;
    background-color: #3c2a4d;

}
.single-list-head{
    background-color:#95adbe;
}
.input-output-show{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: red; */

}
.output-show{
  
    background-color:#95adbe;
    padding:1rem;
    border-radius: 10px;
    width: 40rem;
    height:20rem;
}

.food-inputs-show{
   
    margin:3rem;
    left:0;
    background-color:#95adbe;
    padding:1rem;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 18rem;
    align-items: center;
    border-radius: 10px;
    
}
.food-inputs-show>input{
    background-color: #fff;
    
    padding:1rem;
    border-radius: 5px;
    height:2.3rem;
    width: 15rem;
  
}
.input-n-output-show{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
   
    /* background-color: rgb(136, 124, 124); */
    width:90%;
    padding:1rem;

    
}