@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.store{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:1rem;
    /* background-color: red; */

}
.input-n-output{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
   
    /* background-color: rgb(136, 124, 124); */
   
    padding:1rem;
    background-color: #27264321;
    border-radius: 10px;
    width: 88%;
    
}
.food-inputs{
   
    margin:3rem;
    left:0;
    background-color:#95adbe5b;
    padding:1rem;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 18rem;
    align-items: center;
    border-radius: 10px;
   

}
.food-inputs>input{
    background-color: #fff;
    
    padding:1rem;
    border-radius: 5px;
    height:2.3rem;
    width: 15rem;
    border:none;
  
}

.add-food{
    color:#fff;
    background-color: #3c2a4d;
    padding:.5rem;
    border-radius: 10px;
    width: 15rem;
    align-items: left;
    margin:1rem;
    border:none;
    

}
.set-reading-time{
    width:15rem;
    padding:.5rem;
    border-radius: 7px;
    background-color: #3c2a4d5b;
    color:#3c2a4d;
}
.add-food:hover{
    background-color:#533e66;
}
.output{
  
    background-color:#95adbe;
    padding:1rem;
    border-radius: 10px;
    width: 40rem;
    height:25rem;
}
.todays-list{
    display: flex;
    flex-direction: column;
    width: 90%;
    /* background-color: aqua; */
    padding:1rem;
}
.food-list-head{
    display: flex;
    flex-direction: row;
    background-color: #3c2a4d;
    color:#fff;
    padding:1rem;
    justify-content: space-around;
    border-radius: 10px;
    width: 100%;
   
}
.single-list-head{
    /* background-color:aquamarine; */

}
.single-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    color:#3c2a4d;
    border-radius: 10px;
    margin:1rem;
    padding:1rem;
    
}
@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
.fade-in-out{
    animation: fadeInOut 3s ease-in-out infinite;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: red;
  }
  .delete-food{
    /* background-color: #3c2a4d;
    color:#95adbe; */
    /* padding:0.5rem 1rem 0.5rem 1rem; */
    border-radius:10px;
    text-decoration:none;
    color:#3c2a4d;
    font-weight:bold;
    margin:0;
    
}
.delete-food:hover{
    color:red;

}
.toggle-food{
margin:1rem;
border-radius: 10px;
border:none;
padding:0.2/3rem;
color:#fff;
}
.toggle-food:hover{
    background-color: #dee5e9;
    color:#3c2a4d;
}