@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.store{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:1rem;
    /* background-color: red; */

}
.input-n-output{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
   
    /* background-color: rgb(136, 124, 124); */
    width:90%;
    padding:1rem;

    
}
.food-inputs{
   
    margin:3rem;
    left:0;
    background-color:#95adbe;
    padding:1rem;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 26rem;
    width: 18rem;
    align-items: center;
    border-radius: 10px;

}
.food-inputs>input{
    background-color: #fff;
    
    padding:1rem;
    border-radius: 5px;
    height:2.3rem;
    width: 15rem;
  
}

.add-food{
    color:#fff;
    background-color: #3c2a4d;
    padding:1rem;
    border-radius: 10px;
    width: 10rem;
    align-items: left;
    margin:1rem;

}
.add-food:hover{
    background-color:#533e66;
}
.output{
  
    background-color:#95adbe;
    padding:1rem;
    border-radius: 10px;
    width: 50%;
    height:50%;

}
.todays-list{
    display: flex;
    flex-direction: column;
    width: 90%;
    /* background-color: aqua; */
    padding:1rem;
}
.food-list-head{
    display: flex;
    flex-direction: row;
    background-color: #3c2a4d;
    color:#fff;
    padding:1rem;
    justify-content: space-around;
    border-radius: 10px;
   
}
.single-list-head{
    /* background-color:aquamarine; */

}
.single-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    color:#3c2a4d;
    border-radius: 10px;
    margin:1rem;
    padding:1rem;
    
}
@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
.fade-in-out{
    animation: fadeInOut 3s ease-in-out infinite;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: red;
  }