.store{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:1rem;
    /* background-color: red; */

}
.input-n-output{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* background-color: rgb(136, 124, 124); */
    width:90%;
    padding:1rem;

    
}
.food-inputs{
    margin:3rem;
    left:0;
    background-color: green;
    padding:1rem;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 20rem;
}
.food-inputs>input{
    background-color: #fff;
    
    padding:1rem;
    border-radius: 5px;
    height:2.3rem;
    width: 12rem;
  
}

.add-food{
    color:#fff;
    background-color: green;
    padding:1rem;
    border-radius: 10px;
    width: 10rem;
    align-items: left;
    margin:1rem;

}
.add-food:hover{
    background-color:green;
}
.output{
    background-color: yellowgreen;
    width: 50%;

}
.todays-list{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: green;
    padding:1rem;
}
.food-list-head{
    display: flex;
    flex-direction: row;
    background-color: green;
    color:#fff;
    padding:1rem;
    justify-content: space-around;
    border-radius: 10px;
   
}
.single-list-head{
    background-color:green;

}
.single-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    color:green;
    border-radius: 10px;
    margin:1rem;
    padding:1rem;
    
}
