.store{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:1rem;

}
.food-inputs{
    /* background-color: red; */
    margin:1rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:50%;
    

}

select,.add-food{
    width:80%;
    padding:1rem;
    border-radius: 10px;
    margin:1rem;

}
.timepicker{
    width:80%;
    padding:1rem;
    border-radius: 10px;


}
Label{
    margin:1rem;
    margin-right:auto;
    /* background-color: pink; */
    padding:1rem;
    color:#e0f0ea;
    background-color: #3c2a4d;
    border-radius: 10px;
    margin-right:2rem;
    
    
}
.output{

}
.add-food{
    background-color: #3c2a4d;
  
    border-radius: 10px;


    color: white;
    align-items: left;
    cursor: pointer;
}
.add-food:hover{
    background-color: #6b567e;
}
.output{
    width:50%;
    height: 20rem;
}
