.color-code{
    background-color:#e0f0ea;
    background-color:#95adbe;
    background-color:#574f7d;
    background-color:#503a65;
    background-color:#3c2a4d;

    background-color:#95adbe5b;
}
/* 
https://colors.muz.li/palette/e0f0ea/95adbe/574f7d/503a65/3c2a4d */